<!DOCTYPE html>
<html>
  <head>
    <!-- BEGIN BOOTSTRAP template -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/accordion.css" rel="stylesheet">
    <style>
      body {background-color: aquamarine;}
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- END BOOTSTRAMP template -->
    <title>Librivox Explorer</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />

  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          <h2>
            <span class="visible-lg-inline-block visible-md-inline-block">
              <a href="/"><img src="/images/commonvox_logo.jpg" height="96" width="96"></a>
            </span>
            <span class="hidden-lg hidden-md">
              <a href="/"><img src="/images/commonvox_logo.jpg" height="128" width="128"></a>
            </span>
            <span class="visible-lg-inline-block"><a href="http://commonvox.org" target="_blank">CommonVox</a> presents:</span>
            <span class="visible-lg-inline-block visible-md-inline-block">LIBRIVOX EXPLORER</span>
          </h2>
          </div>
        </div>
      </div>
      <hr>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <script>
      toggleAccordion(document.getElementsByClassName("accordion"));
      function toggleAccordion(acc) {
        var i;
        for (i = 0; i < acc.length; i++) {
          acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = 'none';
            }
          }
        }
      }

      function goBack() {
        window.history.back();
      }
    </script>
    <footer>
      <div class="container">
        <div class="row"> <div class="col-md-8 col-md-offset-2">
          <hr/>
          <h4 align="center">Problem? Question? Comment? Email us at: <b>support[at]commonvox[dot]org</b></h4>
        </div></div>
        <div class="row"><div class="col-md-8 col-md-offset-2">
          <hr/>
          <h4 align="center"><img src='/images/solo.png' alt="Solo icon" title="Solo icon" height="18" width="18">
            <img src='/images/group.png' alt="Group icon" title="Group icon" height="18" width="18">
            <img src='/images/new.png' alt="New icon" title="New icon" height="18" width="18">
            <img src='/images/title.png' alt="Title icon" title="Title icon" height="18" width="18">
            <img src='/images/author-sign.png' alt="Author icon" title="Author icon" height="18" width="18">
            <img src='/images/voice.png' alt="Reader icon" title="Reader icon" height="18" width="18">
            <img src='/images/mask.png' alt="Genre icon" title="Genre icon" height="18" width="18">
            <img src='/images/grid-world.png' alt="Language icon" title="Language icon" height="18" width="18">
            <img src='/images/dice.png' alt="Random icon" title="Random icon" height="18" width="18">
            icons provided by <a href='http://www.freepik.com/' target='_blank'>Freepik</a>
              from <a href='http://www.flaticon.com/' target='_blank'>www.flaticon.com</a>
          </h4>
          <h6 align="center">
            <a href="https://openclipart.org/detail/166648/cefrspokenproduction" target="_blank">CEFR-Spoken-Production graphic</a>
            (incorporated into CommonVox logo) courtesy of
            <a href="https://openclipart.org/user-detail/gnak" target="_blank">gnak</a>
            at <a href="https://openclipart.org/share" target="_blank">openclipart.org</a>.
          </h6>
        </div></div>
      </div>
    </footer>

    <!-- BEGIN BOOTSTRAP template -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- END BOOTSTRAMP template -->

  </body>
</html>
