<!DOCTYPE html>
<html>
  <style>
    body {background-color: aquamarine;}
    h1 { display:inline-block; text-align: center; background-color: white; }
    .centered { margin: auto; width: 70%; text-align: center; }
    .announce { text-align: center; border-style: dashed; border-width: 3px; border-color: red;}

    button.accordion { background-color: #eee; color: #444; cursor: pointer; outline: none;
      transition: 0.4s; width: 100%; border: none;  margin: 2px 0px; }
    button.go-back {
        background-color: #008CBA; border: none; color: white; padding: 15px 32px;
        text-align: center; text-decoration: none; display: inline-block;
        font-size: 16px; font-weight: bold; margin: 4px 16px; cursor: pointer;
    }
    button.accordion.active, button.accordion:hover { background-color: #ddd; }
    button.acc1 { padding: 18px; font-size: 24px; text-align: center; }
    button.acc2 { padding: 14px; font-size: 14px; text-align: left; }
    button.acc3 { padding: 10px; font-size: 12px; text-align: left; }
    div.panel { padding: 0 18px; background-color: aquamarine; max-height: 0; overflow: hidden;
        transition: max-height 0.2s ease-out; }
    .letter-label { font-size:140%; font-weight:bold; }

    /* following experimental classes need revision or removal */
    .fixed { position: fixed; }
    .sidebar {
        position: fixed;
        width: 200px;
        height: 100px;
    }
    .content {
        margin-left: 50px;
        min-height: 400px;
        width: auto;
        position: relative;
        overflow: auto;
        z-index: 1;
    }
    .info {
        width: auto; /* 1440px; */
        height: auto; /* 300px; */
        position: relative;
    }
   </style>
  <head>
    <title>Librivox Explorer</title>
  </head>
  <body>
    <header>
      <span>
        <h1>CommonVox presents: LIBRIVOX EXPLORER</h1>
      </span>
    </header>
    <%= yield %>
    <script>
      toggleAccordion(document.getElementsByClassName("accordion"));
      function toggleAccordion(acc) {
        var i;
        for (i = 0; i < acc.length; i++) {
          acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = 'none';
            }
          }
        }
      }

      function goBack() {
        window.history.back();
      }
    </script>
    <footer>
      <div class='centered'>
        <br><hr/>
        <span>
          <h4>SOLO&nbsp;<img src='/images/solo.png' alt="Solo icon" title="Solo icon" height="18" width="18">
            and GROUP&nbsp;<img src='/images/group.png' alt="Group icon" title="Group icon" height="18" width="18">
            icons provided by <a href='http://www.freepik.com/' target='_blank'>Freepik</a>
              from <a href='http://www.flaticon.com/' target='_blank'>www.flaticon.com</a></h4>
        </span>
      </div>
    </footer>
  </body>
</html>
