<!DOCTYPE html>
<html>
  <style>
    body {background-color: aquamarine;}
    h1 { display:inline-block; text-align: center; background-color: white; }
    .centered { margin: auto; width: 50%; text-align: center; }
    .announce { text-align: center; border-style: dashed; border-width: 3px; border-color: red;}

    button.accordion { background-color: #eee; color: #444; cursor: pointer; outline: none;
      transition: 0.4s; width: 100%; border: none;  margin: 2px 0px; }
    button.accordion.active, button.accordion:hover { background-color: #ddd; }
    button.acc1 { padding: 18px; font-size: 24px; text-align: center; }
    button.acc2 { padding: 14px; font-size: 14px; text-align: left; }
    button.acc3 { padding: 10px; font-size: 12px; text-align: left; }
    div.panel { padding: 0 18px; background-color: aquamarine; max-height: 0; overflow: hidden;
        transition: max-height 0.2s ease-out; }
   </style>
  <head>
    <title>Librivox Explorer</title>
  </head>
  <body>
    <header>
      <div class='centered'>
        <h1>CommonVox presents: LIBRIVOX EXPLORER</h1>
      </div>
    </header>
    <%= yield %>
    <script>
      toggleAccordion(document.getElementsByClassName("accordion"));

      function toggleAccordion(acc) {
        var i;
        for (i = 0; i < acc.length; i++) {
          acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = "none";
            }
          }
        }
      }
    </script>
    <footer>
      <p>Footer content here!</p>
    </footer>
  </body>
</html>
